@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #e5f1fe;
  --color-secondary: #89c2fe;
  --bg-color: #ffffff;

  --color-cardDark: #171717;
  --color-icons: #0a0a0a;
  --color-border: #222222;
  --color-hover: #333333;
  --color-descriptionText: #a0a0a0;

  /* --font-montserrat: "Montserrat", sans-serif; */

  --text-textXxl: 89px;
  --text-textXl: 52px;
  --text-textLg: 40px;
  --text-textMd: 32px;
  --text-textSm: 18px;
  --text-textXs: 14px;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
    background-color: #000000;
    color: #fafafa;
  }

  h1 {
    font-size: var(--text-textXxl);

    font-weight: 700;
  }
  h2 {
    font-size: var(--text-textLg);
    font-weight: 600;
  }
  h3 {
    font-size: var(--text-textMd);
    font-weight: 500;
  }
  h4 {
    font-size: var(--text-textSm);
  }
  p {
    font-size: var(--text-textXs);
  }
}

@layer utilities {
  .txtGradient {
    @apply text-transparent bg-clip-text bg-gradient-to-b from-white to-[#a1a1a1];
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexBetween {
    @apply flex items-center justify-between;
  }
  .listBg {
    background: linear-gradient(to right, #20ffff, #0c61cc 30%, #eb0078 150%);
  }
}

@layer components {
  .card {
    @apply flex flex-col flex-1 gap-2 py-4 pl-6 pr-1 border-2 cursor-pointer rounded-2xl border-border bg-cardDark;
  }
  .cardSettings {
    @apply bg-cardDark py-4 pl-6 pr-1 rounded-lg w-full h-[64px] hover:bg-hover duration-200 ease-in-out cursor-pointer;
  }
}

@media (max-width: 480px) {
  .Toastify__toast {
    --toastify-toast-width: 70%;
    margin: 20px auto 0;
  }
}
